
.cabeza{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    background-color: black;
}
.cabeza h1{
    color: white;
    font-size: 24px;
}

html, body{
    background-color: #2f4f30;
    color: white;
}

.carta{
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
}

.computadora-cartas, .jugador-cartas{
    height: 240px;
}